body {
  	background-color: paleturquoise;
}

h1 {
  	font: italic bold 48px arial; 
}

h2 {
	font: 28px georgia;
}

ul li {
	font: italic 20px georgia;
}

p {
  	background-color: lavenderblush;
  	color: indigo;
  	border: medium solid black;
	font: 14px helvetica;
}

a {
	background-color: snow;
	font: 14px helvetica;
	display: block;
}

img {
	border: medium dotted darkblue;
}
