body {
  	background-color: paleturquoise;
	padding-top: 65px;
	
}

h1 {
  	font: italic bold 48px arial; 
}

h2 {
	font: 28px georgia;
}

p {
  	background-color: lavenderblush;
  	color: indigo;
  	border: medium solid black;
	font: 14px helvetica;
}

img {
	border: medium dotted darkblue;
}

ul {
  	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: white;
  	position: fixed;
  	top: 0;
  	width: 100%; 
}

li {
  	float: left;
  	border-right: 2px solid black; 
}

li a {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 14px 50px 16px 50px;
  	text-decoration: none;
  	font: 40px;
}

li a:hover {
  	background-color: #33A1FF;
}

.current {
  	background-color: cyan;
}

a {
  	display: block;
  	color: midnightblue;
}
