body {
  	background-color: paleturquoise;
}

h1 {
  	font: italic bold 48px arial; 
}

h2 {
	font: 28px georgia;
}

p {
  	background-color: lavenderblush;
  	color: indigo;
  	border: medium solid black;
	font: 14px helvetica;
}

img {
	border: medium dotted darkblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
